/* Reset styles */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #111;
  }

/* Header styles */
.header {
  position: relative;
  background-color: #ff000074;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0;
  margin: 10px 30px 0px;
}

/* Navbar */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;

}

.navbar-nav .nav-link {
  font-size: 16px;
  padding: 8px 15px;
  margin-left: 10px;
  margin-right: 10px;
}


/*underline effects*/

.w3rcontainer{
  border: 1px solid #cccfdb;
  border-radius: 2px;
} 
.hover-underline-animation {
 display: inline-block;
 position: relative;
 color: #0087ca;
}

.hover-underline-animation:after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #0087ca;
 transform-origin: bottom right;
 transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}

.icon {
  height: 60px;
  float: left;
  margin-left: 60px;
  cursor: pointer;
  width: 60px;
}

#login-here {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor:default;
}
@media (max-width: 360px) {
  .navbar-nav {
    margin-top: 10px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
  }
  .hero {
    flex-direction: column; 
    text-align: center; 
  }
  
  .hero .content,
  .hero .image-container {
    flex: none; 
    margin: 20px 0; 
  }

  .hero .image-container {
    justify-content: center;
  }

  .hero .image-container img {
    margin-right: 0;
  }

  .scroll-btn {
    margin: auto;
  }
}
  .btn-primary {
    /* Existing button styles */
    transition: transform 0.3s ease;
    background-color: #333;
    border: none;
    
  }
  
  .btn-primary:hover {
    transform: scale(1.3);
    background-color: red;
  }

  /*video*/
  #video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  
/* Existing styles */

/* Add styles for login container */
/* Existing styles */

/* Add styles for login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60vh;
    opacity: 0;
    animation: slide-up 1s forwards;
    
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-element {
    opacity: 0;
  }
  
  .animate {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  
  /* login form */
  .login-form {
    background-color: rgba(0, 0, 0, 0.226);
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    animation: slide-up 0.5s ease;
    box-shadow: 0px 700px 1000px 1px rgba(255, 255, 255, 0.5); 
    width: 700px;
    position: relative;
    border: solid 1px;
    animation: rotateBorder 5s infinite linear,  floatAnimation 3s infinite;
    
}

@keyframes rotateBorder {
  0% {
    border-color: rgb(210, 0, 0);
  }
  25% {
    border-color: rgb(180, 64, 64);
  }
  50% {
    border-color: #333;
  }
  75% {
    border-color: #333;
  }
  100% {
    border-color: #333;
  }
}
@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    font-family: 'Audiowide', cursive;
    font-family: 'Bruno Ace', cursive;
    color: white;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    border: 1px solid;
    animation: rotateBorder 5s infinite linear
  }

  .input-container {
    position: relative;
  }
  
  
  .input-label {
    position: absolute;
    top:20px;
    left: 10px;
    pointer-events: none;
    color: red;
    transition: all 0.3s ease;
    transform-origin: top left;
  }
  .input-container {
    position: relative;
  }
  
  .input-container i {
    position: absolute;
    top: 35%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
  }
  
  .input-container input {
    padding-left: 30px;
  }
  
  
  
  .input-container input {
    padding-top: 18px;
    padding-left: 40px;
  }
  .user-container input.error {
    border: 1px solid red;

  }
  .pass-container input.error {
   border: 1px solid red;
  }
  
  
  /* Rest of the CSS styles remain the same */
  
  
  
  
  
  
  
  /* Animation keyframes */
  @keyframes slide-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
#login-button
{
    width: 300px;
    float: left;
    transition: transform 0.3s ease;
    background-color: #333;
    border: none;
    color: white;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    
}
#login-button:hover
{
    transform: scale(1.1);
    background-color: red;
}
#signup-button
{
    width: 150px;
    float: right;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    background-color: #333;
    border: none;
    transition: transform .3s ease;
  
}
#signup-button:hover
{
    transform: scale(1.1);
    background-color: red;
    transition: transform .3s ease;
}


/*MODAL*/

.modal-confirm {	
	color: #8e8e8e;
	width: 450px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;		
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
	border-radius: 5px 5px 0 0;
}
.modal-confirm h4 {
	color: #545557;
	text-align: center;
	font-size: 30px;
	margin: 0 0 25px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	background: #c0c3c8;
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
	opacity: 0.5;
	width: 30px;
	height: 30px;
	padding: 0;
	border-radius: 20px;
	font-size: 16px;
}
.modal-confirm .close:hover {
	opacity: 0.8;
}
.modal-confirm .icon-box {
	color: #f95858;		
	display: inline-block;
	z-index: 9;
	text-align: center;
	position: relative;
	transform: scale(1.5);
}
.modal-confirm .icon-box i:first-child {
	font-size: 100px;
}
.modal-confirm .icon-box i:nth-child(2) {
	font-size: 138px;
	position: absolute;
	left: -19px;
	top: -23px;
	font-weight: bold;
	color: #fff;
}
.modal-confirm .icon-box i:last-child {
	font-size: 26px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 44px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #eeb711;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 3px;
	margin: 30px 0 20px;
	padding: 6px 20px;
	min-width: 150px;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #eda645;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}